[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
flask = "*"

[dev-packages]
pylint = "*"
autoflake = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest"
shutter-sim = "python -m shutter_sim"
lint = "pylint ./shutter_sim"
lint-fix = "autoflake -r --in-place --remove-unused-variables ./shutter_sim"
